footer {
	grid-area: footer;
}

footer section#white-section {
	height: 74px;
	background-color: #ffffff;
}

footer section#addresses {
	height: 207.14px;
	background-color: #d2232a;
}

footer section#sponsors {
	height: 765.78px;
	background-color: #000;
}