footer {
	grid-area: footer;
}

footer .addresses {
	background-color: var(--primary-red);
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-top: 98px;
}

footer .addresses .middle-container {
	display: flex;
	flex-wrap: wrap;
}

footer .addresses .middle-container address {
	margin-right: auto;
	margin-left: auto;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	font-style: normal;
}

footer .addresses .middle-container address h4 {
	font-size: 1.375rem;
	line-height: 1.38;
	font-weight: bold;
	font-family: Rajdhani, sans-serif;
	color: var(--primary-white);
}

footer .addresses .middle-container address ul {
	padding-left: 0;
	list-style: none;
	color: var(--primary-white);
	margin-top: 0;
	margin-bottom: 1rem;
}

@media (max-width: 480px) { 
	footer .addresses .middle-container address {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}
}

footer .sponsors {
	background-color: var(--primary-black);
	width: 100%;
	height: calc(598.59px + 167.19px);
}