header {
	grid-area: header;
}

.top-header {
	background-color: #d2232a;
}

.top-header .middle-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1.9rem;
	padding-bottom: 1.9rem;
}

.top-header .publicity {
	margin-left: 4.5rem;
}

.top-header .publicity a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.5625rem;
	font-weight: 900;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 5px;
	text-transform: uppercase;
}

.top-header .publicity a:hover {
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0.3);
}

.top-header .icons-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

.top-header .icons-area .icons-media i {
	font-size: 18px;
	color: #000;
	margin-right: 5px;
}

.top-header .icons-area .icons-media i:hover,
.top-header .icons-area #adidas-logo:hover {
	filter: invert(100%);
	cursor: pointer;
}

.bottom-header {
	background-color: #000;
	border-bottom: 4px solid #535353;
}

.bottom-header nav {
	position: relative;
}

.logo-menu {
	position: absolute;
	top: -93px;
	left: -13%;
}

.logo-menu img {
	height: 130px;
}

.bottom-header .middle-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-header .middle-container button {
	display: none;
}

.bottom-header nav ul {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	white-space: nowrap;
	list-style-type: none;
}

.bottom-header nav ul>li {
	padding: 10px;
	border-left: 1px solid #252525;
	border-right: 1px solid #252525;
}

.bottom-header nav ul li.dropdown {
	position: relative;
}

.bottom-header nav ul a {
	font-size: 1.0411457419rem;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
}

.bottom-header nav ul a:hover {
	color: #d2232a;
}

.bottom-header nav ul ul.dropdown-content {
	position: absolute;
	display: none;
	flex-direction: column;
	background-color: #000;
	list-style: none;
	padding: 15px;
	min-width: 10rem;
}

.bottom-header nav ul li.dropdown ul.dropdown-content>li {
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #535353;
	padding: 0;
}

.bottom-header nav ul li.dropdown ul.dropdown-content>li a {
	display: block;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.6rem;
	text-transform: capitalize;
	width: 100%;
	padding: 4px 24px 4px 24px;
}

.bottom-header nav ul li.dropdown ul.dropdown-content>li a:hover {
	background-color: #d2232a;
	color: #ffffff;
}

.bottom-header nav ul li.dropdown#futebol:hover ul.dropdown-content,
.bottom-header nav ul li.dropdown#futebol:target ul.dropdown-content {
	display: flex;
}

@media (max-width: 768px) {
	.hide-element-nr {
		display: none !important;
	}

	.top-header .middle-container {
		flex-direction: column-reverse;
		align-items: normal;
		padding: 0 15px 0 15px;
	}

	.top-header .publicity {
		display: flex;
		justify-content: space-between;
		margin-left: 0;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	.top-header .publicity a {
		font-size: 1.125rem;
	}

	.top-header .icons-area {
		flex-direction: row-reverse;
		align-items: center;
		gap: 0;
		padding-top: 1rem;
	}

	.bottom-header .middle-container {
		padding: 0 15px 0 15px;
	}

	.bottom-header .middle-container nav {
		width: 100%;
	}

	.logo-menu {
		top: -48px;
		left: 45%;
	}

	.logo-menu img {
		height: 90px;
	}

	.bottom-header .middle-container button {
		display: block;
		background: none;
		border: none;
		padding: .25rem .75rem;
		font-size: 1.25rem;
    line-height: 1;
		color: #fff;
	}

	.bottom-header .middle-container nav .logo-area {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.bottom-header .middle-container nav ul {
		flex-direction: column;
	}

	.bottom-header nav ul>li {
		border: 0;
		font-size: 1rem;
	}

	.bottom-header nav ul li.dropdown ul.dropdown-content>li {
		border-left: none;
		border-right: none;
		border-bottom: 0;
		padding: 0;
	}
}

@media (max-width: 480px) {
	.top-header .publicity a {
		display: inline-block;
		font-size: 0.6875rem !important;
		line-height: 1.0625rem !important;
	}

	.logo-menu {
		top: -40px;
		left: 42%;
	}

	.logo-menu img {
		height: 70px;
	}
}