header {
	grid-area: header;
}

.top-header {
	background-color: #d2232a;
}

.top-header .middle-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1.9rem;
	padding-bottom: 1.9rem;
}

.top-header a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.5625rem;
	font-weight: 900;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 5px;
	text-transform: uppercase;
}

.top-header a:hover {
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0.3);
}

.bottom-header {
	background-color: #000;
	border-bottom: 4px solid #535353;
}

.bottom-header .middle-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-header nav ul {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	white-space: nowrap;
	list-style-type: none;
}

.bottom-header nav ul li {
	padding: 10px;
	border-left: 1px solid #252525;
	border-right: 1px solid #252525;
}

.bottom-header nav ul a {
	font-size: 1.0411457419rem;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
}

.logo-menu {
	position: absolute;
	top: 1%;
	left: 23%;
}

.logo-menu img {
	height: 130px;
}

/*

.top-header-middle {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 15px;
	padding-bottom: 15px;
}



.top-header-middle a:nth-child(1) {
	margin-right: 5px;
}




.bottom-header nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.bottom-header nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	white-space: nowrap;
	list-style-type: none;
}


.bottom-header a {
	font-size: 1.0411457419rem;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
} */