main section.page-title {
	width: 100%;
	background-image: url("../assets/images/bg-top.png");
	border-bottom: 3px solid var(--primary-gray);
	background-size: cover;
	background-position: center center;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main section.page-title h2 {
	font-size: 1.575rem;
	color: var(--text-white);
	font-weight: 700;
	text-transform: uppercase;
}